<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">

        <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/projekktor.style.css">

    </head>
    <body>
        
        <div id="navbar_header">
            <ul class="nav_links">
                <li class="nav" id="settings-nav">
                    <a href="/upload_video/">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                    </a>
                </li>
                <li class="nav" id="home-nav">
                    <a href="/">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                    </a>
                </li>
                <span class="clear_both"></span>
            </ul>
        </div>
        
        <div id="main_content">
            {% block content %}}
                <p>Something here...</p>
            {%  endblock %}
        </div>
        
        <div id="navbar_footer">
            <ul class="nav_links">
                <li class="nav" id="search-nav">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </li>
                <li class="nav" id="thumbnail-nav">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                </li>
                <li class="nav" id="list-nav">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </li>
            </ul>
        </div>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>

<!--        video player-->
        <script src="//vjs.zencdn.net/4.12/video.js"></script>
        <script>
            videojs.options.flash.swf = "{{ STATIC_URL }}flash/video-js.swf";
        </script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/projekktor-1.3.09.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function() {
            projekktor('#player_a', {
            volume: 0.8,
            playerFlashMP4: '{{ STATIC_URL }}flash/StrobeMediaPlayback.swf',
            playerFlashMP3: '{{ STATIC_URL }}flash/StrobeMediaPlayback.swf'
            });
        });
        </script>         
    </body>
</html>
